@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #5cdb95;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  background-color: #05386b;
  border-radius: 5px;
  border: none;
  color: #edf5e1;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus,
#stop:focus {
  outline: none;
}

.btn:active,
#stop:active {
  transform: scale(0.98);
}

.btn:hover,
#stop:hover {
  opacity: 0.9;
}

#stop {
  border: none;
  border-radius: 20px;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 10%;
  background-color: #000000;
  color: #edf5e1;
  margin: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

#buttons,
.container {
  margin: 5px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn a {
  color: #edf5e1;
  text-decoration: none;
}

.btn i {
  font-size: 24px;
  margin-left: 20px;
}
